
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Your privacy is important to us, and we are committed to protecting your personal information. This Privacy Policy is designed to help you understand how we collect, use, disclose, and safeguard your personal information. By using our services, you consent to the practices described in this Privacy Policy.</p>

<h2>Information We Collect</h2>

<p>We may collect and store the following types of information when you use our services:</p>

<ul>
    <li><strong>Personal Information:</strong> This includes your name, email address, phone number, and address that you provide when using our services.</li>
    <li><strong>Usage Information:</strong> We collect information about how you interact with our website, such as the pages you visit, the features you use, and the actions you take.</li>
</ul>

<h2>How We Use Your Information</h2>

<p>We may use the information we collect for various purposes, including:</p>

<ul>
    <li>To provide, maintain, and improve our services.</li>
    <li>To respond to your requests and inquiries.</li>
    <li>To communicate with you, including sending you updates, promotions, and service information.</li>
    <li>To monitor and analyze usage patterns and trends.</li>
</ul>

<h2>Disclosure of Your Information</h2>

<p>We may share your information with third parties under the following circumstances:</p>

<ul>
    <li>With your consent.</li>
    <li>When required by law or to protect our rights, privacy, safety, or property.</li>
    <li>In connection with the sale, merger, or acquisition of all or part of our company.</li>
</ul>

<h2>Security</h2>

<p>We take reasonable precautions to protect your information. However, no method of transmission over the internet or electronic storage is completely secure. We cannot guarantee absolute security but will make every effort to safeguard your information.</p>

<h2>Changes to this Privacy Policy</h2>

<p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the date of the latest revision will be indicated. Please review this Privacy Policy periodically for any updates.</p>

<h2>Contact Us</h2>

<p>If you have questions or concerns regarding this Privacy Policy, please contact us at +234-810-6863-615.</p>
